.admin{
  /* margin-top: 20px;
  width: 90%;
  margin-inline: auto;
  max-width: 1280px; */
  width: 90%;
  margin-inline: auto;
}

.admin__title{
  font-size: 7VW;
  margin-top: 3rem;
  text-align: left;
}

.admin__line {
  margin-inline: auto;
  align-items: center;
  list-style: none;
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 100px 2.5fr 1fr 1fr 1fr 1fr 1fr;
}

.admin__edit-button{
  height: 40px;
  margin: 1rem;
  background-color: rgba(0,0,0,0);
  border: 1px solid grey;
}

.admin__line-header{
  font-weight: bold;
  color: grey;
  padding-block: 1rem;
}

.admin__form{
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  margin-top: 1rem;
}

.admin__form-input{
  width: 500px;
  height: 3rem;
  padding-inline: 15px;
  font-size: 1em;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
  border: 1px solid black;

}
.admin__cards{
  margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
}


.admin__card-wrapper{
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 1rem;
  margin-top: 3rem;
}