.editScorePopup{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.editScorePopup__form{
  padding-block: 2.5rem;
  width: 600px;
  min-height: 300px;
  background-color: white;

}

.editScorePopup__button-wrapper{
  margin-top: 16px;
}

.editScorePopup__button-wrapper > h3{
  font-weight: 200;
  font-size: 1.2em;
}

.editScorePopup__title{
  font-weight: 400;
  font-size: 1.5rem;
}

.editScorePopup__selector{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right:0;
  background-color: grey;
}

.editScorePopup__selector_false{
  left: 0;
}

.editScorePopup__button{
  display: flex;
  /* justify-content: space-between; */
  padding: 0.5rem 0;
  overflow: hidden;
  margin-top: 10px;
}

.editScorePopup__selection{
  width: 100%;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color:white;
  font-size: 1.1em;
}
.editScorePopup__selection_false{
  color: rgba(255,255,255,0.2);
  color: lightgray;
}

.editScorePopup__score-label{
  margin-top: 16px;
  font-weight: 300;
  font-size: 1.2em;
}

.editScorePopup__form-input{
  background-color: rgba(0,0,0,0);
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  border: none;
  padding-block: 0.5rem;
  text-align: center;
  color: black;
}

.editScorePopup__form-input::placeholder{
  color: lightgrey;
}

.editScorePopup__form-button{
  background-color: black;
  color: white;
}

.editScorePopup__form-button-wrapper{
  width:50%;
  margin-inline:auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.editScorePopup__form-button_cancel{
  background-color: rgb(249, 62, 62);
  color: white;
}

.editScorePopup__form-button_cancel:hover{
  background-color: rgba(255, 0, 0, 0.7);
}


@media (max-width: 640px) {
  .editScorePopup__form{
    padding-block: 2.5rem;
    width: 100%;
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
}