.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  gap: 1rem;

  .form__title{
    font-size: 2rem;
  }

  .form__filters{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  label{
    font-size: 1.2rem;
  }

  select{
    background-color: white;
    color: black;
    font-size: 0.8rem;
    padding-inline: 0.2em;
    text-align: center;
  }

  button{
    font-size: 0.9rem;
    font-weight: 700;
    padding-inline: 0.8em;
    padding-block: 0.3em;
    margin-left: 1rem;
  }
  
}

.form__open-filters{
  display: none;
}

.form__filters_mobile{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.form__filter{
  width: 50%;
  margin-inline: auto;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-top: 1rem;
  select{
    width: 100%;;
  }
}

.form__button-wrapper{
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-inline: auto;

  button{
    margin-inline: 0;
  }
}

.form__button_cancel{
  background-color: red;
}

@media (max-width: 800px) {
  .form{
    .form__title{
      display: none;
    }

    .form__filters{
      display: none;
    }
    
    .form__open-filters{
      display: block;
      margin-left: 0;
    }
  }
}


