.header{
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    padding-inline: 5rem;
    margin-inline: auto;
    background-color: black;
    align-items: center;
}

.header__logo{
    width: 75px;
    cursor: pointer;
}

.header__button{
    height:40px;
    background-color: white;
    color:black;
}

.header__button:hover{
    background-color:gray;
    color: white;
}

.header__login{
    position: relative;
}

.header__profile-wrapper{
  display: flex;
  align-items: center;
  column-gap: 1rem;

  p{
    color: white;
    text-transform: uppercase;
  }
}

.header__profile-img{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms ease;
}

.header__profile-img:hover{
    border: 1px solid white;
    opacity: 50%;
}

@media (max-width: 800px) {
  .header{
    padding-inline: 2rem;
  }

  .header__logo{
      width: 3rem;
  }

  .header__profile-wrapper{
    flex-direction: column-reverse;
    row-gap: 0.7rem;
  
    p{
      display: none;
    }
  }
  

    
}