.header{
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    padding-inline: 5rem;
    margin-inline: auto;
    background-color: black;
    align-items: center;
}

.header__logo{
    width: 75px;
}

.header__button{
    height:40px;
    background-color: white;
    color:black;
}

.header__button:hover{
    background-color:gray;
    color: white;
}

.header__login{
    position: relative;
}

.header__profile-img{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms ease;
}

.header__profile-img:hover{
    border: 1px solid white;
    opacity: 50%;
}