.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1280px;
    margin-top: 2em;
    margin-inline: auto;
}

.header__logo{
    width: 100px;
}

.header__button{
    height:40px;
}

.header__login{
    position: relative;
}