.leaderboard{
  margin-top: 20px;
  width: 90%;
  margin-inline: auto;
  max-width: 1280px;
}

.leaderboard__selectorWrapper{
  display: flex;
  column-gap: 10px;
  /* border: 1px solid white; */
  justify-content: center;
  margin-bottom: 20px;
}