.login{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color:#a7adb2;
  display: flex;
  align-items: center;
  transition: 500ms ease-in-out;
}

.login_inactive{
  right: -100%;

}
.login__form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 1em;
  width: 60%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 1rem 2rem;
  border-radius: 12px;
  overflow: hidden;
}

.login__title{
  font-weight: 300;
  font-size: 6rem;
  text-align: center;
  margin-inline: auto;
  color: darkslategray
}

.login__paragraph{
  font-weight: 300;
  color: lightgray
}

.login__input{
  width: 100%;
  height: 2.5em;
  padding: 3px;
  padding-left: 10px;
  background-color: #a7adb2;
  color: darkslategray;
  font-size: 1.5rem;
  font-family: 'Inria Sans', sans-serif;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
}


.login__button{
  z-index: 1;
  border: 1px solid white;
  width: 100%;
  font-size: 1.5rem;
  background-color: darkslategray;
}

.login__button_inactive{
  background-color: lightgray;
  color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  border: none;
}

.login__link{
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.login__close-btn{
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  opacity: 0.5;
  cursor: pointer;
  color: white;
  background-color:darkslategray;
}

@media (max-width:1024px) {
  .login__form{
      width: 80%;
  }
  .login__title{
    font-size: 10vw;
  }
    
    
}

@media (max-width:768px) {
  .login__form{
      width: 95%;
  }

  .login__title{
    font-size: 13vw;
  }

  .login__input{
    font-size: 1.1rem;
  }

  .login__button{
    font-size: 1.1rem;;
  }


}