.main{
  width: 90%;
  margin-inline: auto;
  padding-top: 7rem;}

.main__title{
  font-size: 7vw;
  text-align: left;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.main__cards{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1440px;
  margin-inline: auto;

}

@media (max-width: 800px) {
  .main__cards{
    gap: 1rem;
  }
  
}