.profilePopup{
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray
}

.profilePopup__picture{
  margin-top: 1rem;
  width: 75px;
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profilePopup__link-wrapper{
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  a{
    color: black;
    font-weight: 500;
  }

  button{
    color: black;
    font-weight: bold;
  }
}

.profilePopup__link{
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.profilePopup__close-btn{
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.profilePopup__details{
  p{
    color: black;
    font-weight: 700;
  }
}


