.timeInput{
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  width: 30%;
  margin-inline: auto;
  border-radius: 8px;
}

.timeInput__input{
  padding-block: 0.5rem;
  text-align: center;
  width:50%;
  margin-inline: 0.2rem;
  background-color: white;
  border: none;
  color: black;
}

.timeInput__input::placeholder{
  color: lightgrey;
}
