.timeInput{
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  width: 30%;
  margin-inline: auto;
  margin-top: 10px;
}

.timeInput__input{
  padding-block: 0.5rem;
  text-align: center;
  width:50%;
  margin-inline: 0.2rem;
  background-color: rgba(0,0,0,0);
  border: none;
  color:gray;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

.timeInput__input::placeholder{
  color:rgba(255,255,255,0.2);
  color: lightgray;
}
