#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leaderboard__header {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding-inline: 1rem;
}

.leaderboard__header h2 {
  font-size: 1.5rem;
  width: 20%;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 680px) {
  .leaderboard__header > h2 {
    font-size: 1rem;
  }
  div > h1 {
    font-size: 1.5rem;
  }
}
