.leaderboard__container {
  width: 90%;
  overflow: scroll;
}

.leaderboard__header {
  margin:  0 0;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr 1fr;
  border: 1px solid grey;
  padding-inline: 1rem;
}

.leaderboard__header h2 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.leaderboard__header h2 img {
  width: 20px;
}

.logo {
  margin-top: 60px;
  width: 100px;
}

@media (max-width: 680px) {
  .leaderboard__header > h2 {
    font-size: 1rem;
  }

  /* div h1 {
    font-size: 1rem;
  } */

  .leaderboard__header {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  }
}

.title {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 60px;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: left;
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
}

.selector {
  /* background-color: rgba(0,0,0,0);
  border: 1px solid gray;
  margin-right: 10px;
  border-radius:0; */

}

.selectorWrapper{
  margin: 60px 0 10px ;
  width: 100%;
  display: flex;
  column-gap: 10px;
}

.main{
 display: flex;
 flex-direction: column;
 padding-inline: 4rem;
}

@media (max-width: 800px) {
  .main{
    padding-inline: 0;
  }

  .title{
    font-size: 3rem;
  }


  
}