@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url(../src/styles/Login.css);
@import url(../src/styles/Header.css);
@import url(../src//styles/Profile.css);
@import url(../src/styles/Leaderboards.css);
@import url(../src/styles/Admin.css);
@import url(../src/styles/EditPlayerScore.css);
@import url(../src/styles/IndividualLeaderboard.css);
@import url(../src/styles/EditScorePopup.css);
@import url(../src/styles/TimeInput.css);
@import url(../src/styles/LeaderboardTeams.css);
@import url(../src/styles/Footer.css);

:root {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: grey;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
